body {
	font-family: tahoma, arial, helvetica, sans-serif;
	max-width: 90%;
	margin: 0 auto; 
	background-color: #574C3C;
	color: #cbc7b3;
}

.menu {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-around;
}

.menu-item {
	-webkit-flex: 1 1 auto;
    flex: 1 1 auto;
	font-size: 1.1em;
	font-weight: bold;
	color: #cbc7b3;
	text-align: center;
	padding: 0.5em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#554a2b+0,332d1a+100;Olive+3D */
	background: #554a2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #554a2b 0%, #332d1a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #554a2b 0%,#332d1a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  # 0%,#332d1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#554a2b', endColorstr='#332d1a',GradientType=0 ); /* IE6-9 */

}

.servicos {
	border-style: solid none;
	border-width: 0.5em;
	border-color: #cbc7b3;
	max-width: 50%;
}

.slider-nav img {
	max-width: 10em;
	max-height: 10em;
	border-style: none;
}

.slider-nav {
	width: 95%;
	margin: 0 auto; 
}

.slider-for .main-item {
	width: 100%;
}

.footer {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.footer li {
	-webkit-flex: 1 1 auto;
    flex: 1 1 auto;

}

.twitter {
    background-image: url(../img/twitter.png);
}

.facebook {
    ///background-image: url(../img/fb-round.png);
    background-image: url(../img/fb-circle-40.png);
}

.footer a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  max-width: 50%;
}

dialog img {
	float: left;
	max-width: 100%;
	max-height: 100%;
	padding-right: 0.5em;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

dialog h1 {
	font-size: 2em;
	font-weight: bold;
}

dialog img {
	float: left;
	max-width: 100%;
	max-height: 100%;
	border-style: none;
	padding-right: 1em;
}

dialog strong {
	font-weight: bold;
}


.sugestoes {
	widows: 100%;
}

.sugestoes img {
	max-height: 15em;
}